*.user
Fun.opensdk
*.tlog
*.lastbuildstate
FundamentalAnalysis\FundamentalAnalysis\Debug
*.log
*.obj
*.pch
*.pdb
*.exe
*.ilk
FundamentalAnalysis\Win32
FundamentalAnalysis/FundamentalAnalysis.sdf
FundamentalAnalysis/FundamentalAnalysis.opensdf
FundamentalAnalysis/FundamentalAnalysis/Debug/
FundamentalAnalysis/FundamentalAnalysis/GeneratedFiles/
FundamentalAnalysis/FundamentalAnalysis.v12.suo